
/*ALL-ABORD*/
	.all-abord{

	}
		.all-abord .hand-perguntas-frequentes-area{

		}
			.all-abord .hand-perguntas-frequentes-area .hand-titulo-page{
				background-color: #000000;
			    height: 498px;
				padding-top: 249px;
			}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page h2{
					color: #FFFFFF;
					font-family: Syncopate;
					font-size: 80px;
					font-weight: bold;
					line-height: 86px;
				}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page h2:before{
					content: '';
					background-image: url(../img/arrow-left.svg);
					position: absolute;
					width: 45px;
					height: 31px;
					right: 50px;
					background-repeat: no-repeat;
					top: 11px;
                    left: -156px;
				}
				.all-abord .hand-perguntas-frequentes-area .hand-titulo-page p{
					opacity: 0.6;
					color: #FFFFFF;
					font-family: "Open Sans";
					font-size: 16px;
					letter-spacing: 1px;
					line-height: 22px;
					padding-top: 32px;
				}
			.all-abord .hand-perguntas-frequentes-area article{

			}
				.all-abord .hand-perguntas-frequentes-area article figure{

				}
				.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo{
					padding-left: 94px;
					max-width: 628px;
				}
					.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo h2{
						color: #000000;
						font-family: Syncopate;
						font-size: 35px;
						font-weight: bold;
						line-height: 46px;
						padding-bottom: 32px;
						padding-top: 94px;
					}
					
						.all-abord .hand-perguntas-frequentes-area article .hand-area-conteudo p{
							display: block;
							opacity: 0.56;
							color: #000000;
							font-family: "Open Sans";
							font-size: 16px;
							line-height: 32px;
							margin-bottom: 0;
							font-weight: normal;

						}	
		.all-abord .hand-vagasDisponiveis{
			background-color: #F4F4F4;
			margin-top: 100px;
		}
			.all-abord .hand-vagasDisponiveis figure{

			}
				.all-abord .hand-vagasDisponiveis figure img{

				}
				.all-abord .hand-vagasDisponiveis figure figcaption{

				}
			.all-abord .hand-title-localizacao{

			}
				.all-abord .hand-title-localizacao h3{
					color: #000000;
					font-family: Syncopate;
					font-size: 35px;
					font-weight: bold;
					line-height: 46px;
					padding-top: 134px;
					padding-bottom:32px;
					padding-left: 134px;
				}
			.all-abord .hand-paragrafo-descricao-oqueFazemos{
				max-width: 673px;
			}
				.all-abord .hand-paragrafo-descricao-oqueFazemos p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
					padding-left: 134px;
				}
			.all-abord .hand-lista-vagas-disponiveis{
				padding-left: 134px;
			}
				.all-abord .hand-lista-vagas-disponiveis ul{
 					padding-top: 46px;
				}
					.all-abord .hand-lista-vagas-disponiveis ul li{
						height: 83px;	
						max-width: 534px;	
						background-color: #FFFFFF;	
						box-shadow: 0 19px 64px 0 
						rgba(0,0,0,0.1);
						margin-bottom: 28px;
						font-family: Syncopate;	
						font-size: 16px;	
						font-weight: bold;	
						line-height: 29px;
						text-align: left;
						color: #1E1E1E;
						padding-top: 27px;
						padding-left: 119px;
						position: relative;
					}
						.all-abord .hand-lista-vagas-disponiveis ul li a{
							text-decoration: none;
							color: #1E1E1E;
						}
					.all-abord .hand-lista-vagas-disponiveis ul li img{
						position: absolute;
						left: 50px;
						top: 30px;
					}
	.page-template-all-abord header.hand-header-internas .hand-menu-home ul li a{
		color: #fff;
	}
	.page-template-all-abord header.hand-header-internas figure img{
	    filter: brightness( 100% );
	}
	.page-template-all-abord header.hand-header-internas .hand-menu-home ul li a:before {
	    display: none;
	}
	.page-template-all-abord header.hand-header-internas .hand-menu-home .hand-mega-menu{
	    display: none;
	    z-index: -999;
	    visibility: hidden;
	}
	.page-template-all-abord footer{
		padding-top: 0;
	}
	.page-template-all-abord footer .hand-containerLarge{
		border:none;
	}