/*PERGUNTAS FREQUENTES*/
	.hand-perguntas-frequentes{

	}
		.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page{
			background-color: #000000;
			padding-top: 223px;
			padding-bottom: 120px;
		}
			.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2{
				color: #FFFFFF;	
				font-family: Syncopate;	
				font-size: 75px;	
				font-weight: bold;	
				line-height: 86px;
			}
		.hand-perguntas-frequentes .hand-perguntas-frequentes-area  article{
			padding-top: 102px;
		}
			.hand-perguntas-frequentes .hand-perguntas-frequentes-area  article .hand-conteudo{
				max-width: 551px;
			}
				.hand-perguntas-frequentes .hand-perguntas-frequentes-area  article .hand-conteudo h2{
					color: #000000;
					font-family: Syncopate;
					font-size: 18px;
					font-weight: bold;
					line-height: 19px;
					padding-bottom: 21px;
				}
				.hand-perguntas-frequentes .hand-perguntas-frequentes-area  article .hand-conteudo p{
					opacity: 0.5;	
					color: #000000;	
					font-family: "Open Sans";	
					font-size: 16px;	
					line-height: 25px;
					padding-bottom: 102px;
				}
				.hand-perguntas-frequentes .hand-perguntas-frequentes-area  article .hand-conteudo p:last-child{
					padding-bottom: 0;
				}
@media(max-width:1200px ){
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2 {
	    font-size: 50px;
	    line-height: 65px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article .hand-conteudo{
		padding: 10px;
	}
}
@media(max-width:768px ){
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article .hand-conteudo{
		padding: 10px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page {
	    background-color: #000000;
	    padding-top: 200px;
	    padding-bottom: 60px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article{
		padding-top: 50px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article .hand-conteudo p {
	    padding-bottom: 50px;
	}
}
@media(max-width:600px ){
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article .hand-conteudo{
		padding: 10px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page {
	    background-color: #000000;
	    padding-top: 200px;
	    padding-bottom: 60px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article{
		padding-top: 50px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area article .hand-conteudo p {
	    padding-bottom: 50px;
	}
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2 {
	    font-size: 30px;
	    line-height: 40px;
	}
}
@media(max-width:425px ){
	.hand-perguntas-frequentes .hand-perguntas-frequentes-area .hand-titulo-page h2 {
	    font-size: 20px;
	    line-height: 30px;
	}
}

.page-template-perguntas-frequentes header.hand-header-internas .hand-menu-home ul li a{
	color: #fff;
}
.page-template-perguntas-frequentes header.hand-header-internas figure img{
    filter: brightness( 100% );
}
.page-template-perguntas-frequentes header.hand-header-internas .hand-menu-home ul li a:before {
    display: none;
}
.page-template-perguntas-frequentes header.hand-header-internas .hand-menu-home .hand-mega-menu{
    display: none;
    z-index: -999;
    visibility: hidden;
}
