/*HAND PROD MOD 5*/
	.hand-prod-mod-5{

	}
		.hand-prod-mod-5 .hand-destaque-prod{
			background-image: url(../img/grid2.svg);
		    background-position: 922px -22px;
		}
		.hand-prod-mod-5 .hand-destaque-prod img{
		    right: -19.8%;
		    top: -21px;
		}
		.postid-112 .hand-prod-mod-5 .hand-destaque-prod article h1{
			max-width: 630px;
		}
		
		.hand-prod-mod-5 .hand-destaque-prod .owl-stage{
		    width: 1200px;
		}
			.hand-prod-mod-5 .hand-destaque-prod .owl-stage{
		    	width: 1200px!important;
			}

			/*.hand-prod-mod-5 .owl-carousel .owl-item {
    			width: 270px!important;
			}
*/
		.hand-prod-mod-5 .hand-naming{

		}
			.hand-prod-mod-5 .hand-naming .row{

			}	
				.hand-prod-mod-5 .hand-naming .row figure{

				}
					.hand-prod-mod-5 .hand-naming .row figure img{

					}
			.hand-prod-mod-5 .hand-naming .row article{
				padding-top: 100px;
				padding-left: 50px;
				padding-right: 20px;
			}
				.hand-prod-mod-5 .hand-naming .row article h2{
					color: #000000;
					font-family: Syncopate;
					font-size: 25px;
					font-weight: bold;
					line-height: 46px;
					padding-bottom: 28px;
				}
				.hand-prod-mod-5 .hand-naming .row article p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
					padding-bottom: 35px;
				}
				.hand-prod-mod-5 .hand-naming .row article h3{
					color: #1E1E1E;
					font-family: Syncopate;
					font-size: 18px;
					line-height: 19px;
					padding-top: 102px;
					padding-bottom: 47px;
				}
				.hand-prod-mod-5 .hand-naming .row article ul{

				}
					.hand-prod-mod-5 .hand-naming .row article ul li{
						display: block;
						font-weight: bold;
					}
		.hand-prod-mod-5 .hand-naming-processo{
			background-color: #F4F4F4;
			padding-top: 110px;
			padding-bottom: 110px;
			margin-top:132px;

		}
			.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo{
				max-width: 349px;
				margin:0 auto;
			}
				.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo img{
					padding-bottom: 20px;
					max-width: 70px;

				}
				.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo h3{
					color: #000000;
					font-family: Syncopate;
					font-size: 25px;
					font-weight: bold;
					line-height: 46px;
				}
			.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-description{

			}
				.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-description p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 35px;
				}
		.hand-prod-mod-5 .hand-naming-categoria{
			max-width: 1275px;
			margin: 0 auto;
			padding-top: 150px;
		}
			.hand-prod-mod-5 .hand-naming-categoria .hand-naming-categoria-title{

			}
				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-categoria-title span{
					color: #000000;
					font-family: Syncopate;
					font-size: 18px;
					line-height: 19px;
					padding-bottom: 35px;
					display: block;
				}	
				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-categoria-title p{
					opacity: 0.5;
					color: #000000;
					font-family: "Open Sans";
					font-size: 16px;
					line-height: 32px;
				    padding-bottom: 80px;
			        max-width: 370px;
				}
			.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria{

			}
				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list{

				}
				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list.area-logo{
					display: none;
				}
				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list.area-logo:nth-child(1){
					display: block;
				}	
					.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul{

					}
						.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li{
							display: block;
							padding: 17px;
					    	margin-bottom: 5px;
					    	max-width: 400px;
					    	cursor: pointer;
					    	font-weight: bold;
						}
						.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li:hover{
							background-color: #F4F4F4;
						}
						.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li.ativo{
							background-color: #F4F4F4;
						}
                        .hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li:after{
                        	content: '';
                        	background-image: url(../img/arrow-right-mod5.svg);
							position: absolute;
							width: 33px;
							height: 15px;
							right: 0;
							background-repeat: no-repeat;
							top: 20px;
							visibility: hidden;

                        }
                        .hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li:hover:after{
							visibility: visible;

						}
						.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list ul li.ativo:after{
							visibility: visible;

						}

				.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list{

				}
					
					.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list figure{
						display: inline-block;
						max-width: 312px;
						width: 100%;
						text-align: center;
						margin-bottom:62px;
					}
						.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list figure img{
							display: inline-block;
							width: 100%;
							max-width: 150px;
							height: auto;
						}

@media(max-width: 1700px){
	.hand-destaque-prod .hand-containerLarge{
		max-width: 1138px;
	}
}

@media(max-width: 1400px){
	.hand-destaque-prod .hand-containerLarge {
		max-width: 1036px;
	}
}

@media(max-width: 1200px){
	.hand-destaque-prod .hand-containerLarge {
		max-width: 922px;
	}
}

@media(max-width: 991px){
	.hand-prod-mod-5 .hand-naming .row article{
	    padding-top: 20px;
	}
	.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo{
		padding: 0 20px;
		max-width: 100%;
	}
	.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo h3 {
	    font-size: 20px;
	    line-height: 27px;
	}
	.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-description{
		padding: 0 20px;
	}
	.hand-prod-mod-5 .hand-naming-processo {
	    padding-top: 40px;
	    padding-bottom: 40px;
	    margin-top: 100px;
	}
	.hand-prod-mod-5 .hand-naming-categoria{
		padding: 40px 30px;
	}
}
@media(max-width:768px){
	.hand-prod-mod-5 .hand-naming .row article h3 {
	    padding-top: 23px;
	    padding-bottom: 47px;
	}
	.hand-prod-mod-5 .hand-naming-categoria .hand-naming-area-categoria .hand-naming-area-categoria-list figure{
		padding: 0 20px;
	}

}
@media(max-width:425px){
	.hand-prod-mod-5 .hand-naming-processo .hand-naming-processo-titulo h3{
		font-size: 15px;
		line-height: 20px;
	}

}
